requests
python-decouple #for protecting keys
transformers #for pulk model
torch --index-url https://download.pytorch.org/whl/cpu # got this from pytorch get started locally page using linux as os pip as package and compute platform being CPU
newspaper3k # must be newspaper3k, newspaper is the python2 library
huggingface_hub[hf_xet]
tokenizers
django
pypdf
lxml[html_clean]
django-cors-headers
djangorestframework
Spire.Doc
Spire.Presentation
markdown
beautifulsoup4